* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f5f5;
  padding-top: 40px;
}

.container {
  background: linear-gradient(90deg, #4b6cb7 0%, );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  background: #0c043b;
  background: linear-gradient(90deg, #8bd0ff 0%, #052c70 100%);
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
  gap: 2rem;

}

li {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  transition: transform 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.buscar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.navbar {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: transform 0.3s ease;
}

.navbar:hover {
  transform: scale(1.05);
  color: #fff;
}

/* Input de búsqueda */
.form-control {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 2px solid #00bcd4;
  /* celeste moderno */
  border-radius: 25px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 188, 212, 0.1);
}

/* Botón de búsqueda */
.btn {
  border-radius: 25px;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background: linear-gradient(135deg, #00bcd4, #0288d1);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

li img {
  filter: invert();
  width: 2rem;
  transform: scale(1);
  transition: all 2s;
}

li img:hover{
  transform: scale(1.2);
  transition: all 1s;
}

.items {
  width: 1180px;
  margin: 100px auto 0 auto;
  padding: 80px auto;
}

.productos {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background: linear-gradient(90deg, #e3ffe7 0%, #78a0e6 100%);
  border-radius: 15px;
  box-shadow: 0 8px 12px #0c043b;
  width: 1332px;
  height: 500px;
  margin-top: 10px;
}

h2{
  text-align: center;
  margin-bottom: 50px;
  text-shadow: #0000004f 2px 4px 2px;

}

.card {
  background-color: #cae0e0a9;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 8px 8px #03334d;
  border-radius: 10px;
  transform: scale(1);
  transition: 2s;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.card img {
  width: 200px;
  border-radius: 6px;
  box-shadow: 2px 5px 5px #0c043b;
  margin: 10px;
  transform: scale(1);
  transition: 2s;
}

.card img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card button img {
  width: 8px;
}

.card p {
  font-size: 14px;
  width: 130px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 45px;
  right: -10px;
  text-transform: uppercase;
}

.precio{
  font-size: 1rem;
  margin-top: -20px;
  margin-bottom: 28px;
}

.big{
  width: 160px !important;
  margin-right: 20px !important;
}

.fav {
  width: max-content;
  border-radius: 200px;
  border: none;
  background-color: #afa9a98a;
}

.fav img {
  width: 30px !important;
  border-radius: 100px;
  filter: invert();
  box-shadow: none;
}

.fav img:hover {
  filter: invert(0);
}

.fav-activo img .fav-activo {
  filter: invert(0);
}

.carrito {
  width: max-content;
  border-radius: 200px;
  border: none;
  cursor: pointer;

}

.carrito img {
  width: 30px !important;
  border-radius: 100px;
  box-shadow: none;
  transform: rotate(1deg);
  transition: all 2s ease;
}

.carrito img:hover {
  transform: rotate(360deg);
  transition: all 1s ease;
  box-shadow: #0c043b 2px 5px 5px;
}

.ver-detalle {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #00bcd4, #0288d1);
  color: white;
  font-weight: bold;
  box-shadow: 2px 5px 5px #0c043b;
  cursor: pointer;
  position: relative;
  bottom: 40px;
  right: -100px;
  transform: rotateX('angle');
}

.ver-detalle:hover {
  background: linear-gradient(135deg, #0288d1, #00bcd4);
  box-shadow: 4px 8px 8px #0c043b;
  font-size: 1rem;
}

/* Detalle del producto (modal)*/

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal.activo {
  display: flex;
}

.modal-contenido {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.modal-contenido img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#cerrar-modal {
  margin-top: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}


footer{
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  background-color: #04223b;
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.social-icons{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: 50px;
  background: linear-gradient(135deg, #5f8f96, #bdc9cf);
  border-radius: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: scale(1);
  transition: all 2s;
}

.social-icons a:hover{
  margin-right: 100px;
  width: 140px;
  overflow: visible;
  color: #000;
}
