* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f5f5;
  font-family: "Quicksand", sans-serif;
  padding-top: 40px;
}

.container {
  background: linear-gradient(90deg, #4b6cb7 0%,);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  background: #0c043b;
  background: linear-gradient(90deg, #8bd0ff 0%, #052c70 100%);
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

ul{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
  gap: 2rem;
}

li{
  text-decoration: none;
  color: black;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #fff;
}

.buscar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.navbar {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: transform 0.3s ease;
}

.navbar:hover {
  transform: scale(1.05);
  color: #fff;
}

/* Input de búsqueda */
.form-control {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 2px solid #00bcd4; /* celeste moderno */
  border-radius: 25px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 188, 212, 0.1);
}

/* Botón de búsqueda */
.btn {
  border-radius: 25px;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background: linear-gradient(135deg, #00bcd4, #0288d1);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

li img{
  filter: invert();
  width: 2rem;
}

.items{
  width: 1180px;
  margin: 100px auto 0 auto;
  padding: 80px auto;
}

.productos{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background: linear-gradient(90deg, #e3ffe7 0%, #78a0e6 100%);
  border-radius: 15px;
  box-shadow: 0 8px 12px #0c043b;
  width: 1332px;
  height: 500px;
}

.card{
  background-color: #cae0e0a9;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transform: scale(1);
  transition: 2s;
}


.card img{
  width: 200px;
  border-radius: 6px;
  box-shadow: 2px 5px 5px #0c043b ;
  margin: 10px;
  transform: scale(1) ;
  transition: 2s;
}

.card img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.card button img{
  width: 8px;
}

.fav{
  width: max-content;
  border-radius: 200px;
  border: none;
  background-color: #e9dfdf8a;
}

.fav img{
  width: 30px !important;
  border-radius: 100px;
  filter: invert();
  box-shadow: none;
}

.fav img:hover{
  filter: invert(0);
}
